;;;;; Author: Richard Neese<kb3vgw@gmail.com>

[Unit]
Description=svxlink repeater control software
After=network.target remote-fs.target syslog.target time.target

[Service]
EnvironmentFile=/etc/default/svxlink
PIDFile=/run/svxlink.pid
RuntimeDirectory=svxlink
ExecStartPre=/usr/sbin/gpio_setup.sh
ExecStartPre=-/bin/touch /var/log/svxlink
ExecStartPre=-/bin/chown $RUNASUSER /var/log/svxlink
ExecStart=/usr/bin/strace -O /tmp/svxlink.log -f /usr/bin/svxlink ${LOGFILE:+--logfile=/var/log/svxlink} ${CFGFILE:+--config=$CFGFILE} --pidfile=/run/svxlink.pid --runasuser=$RUNASUSER
ExecReload=/bin/kill -s HUP $MAINPID
ExecStopPost=/usr/sbin/gpio_tear_down.sh
#Restart=on-failure
TimeoutStartSec=60
WatchdogSec=0
NotifyAccess=main
LimitCORE=infinity
WorkingDirectory=/run

[Install]
WantedBy=multi-user.target
